<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta Tags -->
    <meta name="description" content="Quickly search for a loan up to £5000 by applying just once with Lively Loans, and searching over 40 lenders at once.">
    <meta name="author" content="Inovatik">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content="" /> <!-- website name -->
    <meta property="og:site" content="" /> <!-- website link -->
    <meta property="og:title" content="" /> <!-- title shown in the actual shared post -->
    <meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
    <meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
    <meta property="og:type" content="article" />

    <!-- Website Title -->
    <title>Lively Loans - borrow up to £5000 today</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/fontawesome-all.css" rel="stylesheet">
    <link href="css/swiper.css" rel="stylesheet">
    <link href="css/magnific-popup.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">

    <!-- Favicon  -->
    <link rel="icon" href="images/favicon.png">
</head>
<body data-spy="scroll" data-target=".fixed-top">
    @RenderBody()
    <!-- Preloader -->
    <div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->
    <!-- Navbar -->

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-custom">

        <!-- Text Logo - Use this if you don't have a graphic logo -->
        <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Cedo</a> -->
        <!-- Image Logo -->
        <a class="navbar-brand logo-image page-scroll" href="#"><img src="images/logo.png" alt="logo"></a>
        <div class="hidden-xs" style="background-color:transparent;padding-top:10px;">
            <div class="offset-md-4 col-sm-12" style="background-color:transparent; color:lightgray;">
                Warning: Late repayment can cause you serious money problems. For help go to <a href="http://moneyadviceservice.org.uk" target="_blank" data-wpel-link="external" rel="external noreferrer">moneyadviceservice.org.uk.</a>
            </div>
        </div>
        <!-- Mobile Menu Toggle Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#header">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#works">How It Works</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#faq">FAQs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="/apply">Apply Now</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#contact">Contact</a>
                </li>
            </ul>
        </div>

    </nav> <!-- end of navbar -->
    <!-- end of navbar -->
    <!-- Header -->

    <header id="header" class="header">

        <!-- Header Slider -->
        <div class="swiper-container header-slider">

            <div class="swiper-wrapper">

                <!-- Slide -->
                <div class="swiper-slide first">

                    <div class="mas hidden-dsk" style="background-color:#7a2874;margin-top:-50px;margin-bottom:50px;">
                        <div class="col-sm-12" style="background-color:#7a2874; color:lightgray;">
                            <span style="font-size: 12px;display:inline-block; line-height:1.1rem;">Warning: Late repayment can cause you serious money problems. For help go to <a href="http://moneyadviceservice.org.uk" target="_blank" data-wpel-link="external" rel="external noreferrer">moneyadviceservice.org.uk.</a></span>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="text-container">
                                    <h1 class="h1-large">Loans from £100 to £5000</h1>
                                    <p class="p-large">We work with lots of lenders to try and find you a no obligation loan quote in minutes</p>
                                    <a class="btn-solid-lg" href="/apply">Get Quote</a>
                                </div>
                            </div> <!-- end of col -->

                            <div class="col-md-6">
                                <div class="image-container">
                                    <img class="header-image" src="/images/woman-at-desk.svg" alt="description">
                                </div>
                            </div> <!-- end of col -->
                        </div> <!-- end of row -->
                        <div class="row mt-sm-5 repapr">
                            <div class="text-container">
                                <div class="col-md-12">
                                    <div class="row">
                                        <p class="rep" style="color:lightgray;">
                                            Representative example: £400 borrowed for 90 days. Total amount repayable is £561.92 in 3 monthly instalments of £187.31. Interest charged is £161.92, interest rate 161.9% pa (variable). <strong>Representative 305.9% APR</strong>. We are an FCA licenced Credit Broker and not a lender!
                                        </p>
                                    </div>
                                    <div class="row">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end of container -->
                </div> <!-- end of swiper-slide -->
                <!-- end of slide -->
                <!-- Slide -->
                <div class="swiper-slide second">
                    <div class="mas hidden-dsk" style="background-color:#7a2874;margin-top:-50px;margin-bottom:50px;">
                        <div class="col-sm-12" style="background-color:#7a2874; color:lightgray;">
                            <span style="font-size: 12px;display:inline-block; line-height:1.1rem;">Warning: Late repayment can cause you serious money problems. For help go to <a href="http://moneyadviceservice.org.uk" target="_blank" data-wpel-link="external" rel="external noreferrer">moneyadviceservice.org.uk.</a></span>
                        </div>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="image-container">
                                    <img class="header-image" src="/images/woman-at-desk-2.svg" alt="description">
                                </div>
                            </div> <!-- end of col -->
                            <div class="col-md-6">
                                <div class="text-container">
                                    <h1 class="h1-large">Loans Even With Bad Credit</h1>
                                    <p class="p-large">We work with many lenders that specialise in offering loans for those with bad credit</p>
                                    <a class="btn-solid-lg" href="/apply">No Obligation Quote</a>
                                </div>
                            </div> <!-- end of col -->
                        </div> <!-- end of row -->
                        <div class="row mt-sm-5 repapr">
                            <div class="text-container">
                                <div class="col-md-12">
                                    <div class="row">
                                        <p class="rep" style="color:lightgray;">Representative example: £400 borrowed for 90 days. Total amount repayable is £561.92 in 3 monthly instalments of £187.31. Interest charged is £161.92, interest rate 161.9% pa (variable). <strong>Representative 305.9% APR</strong>. We are an FCA licenced Credit Broker and not a lender!</p>
                                    </div>
                                    <div class="row">
                                        <p class="rep" style="color:lightgray;">

                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div> <!-- end of container -->
                </div> <!-- end of swiper-slide -->
                <!-- end of slide -->
                <!-- Slide -->

            </div> <!-- end of swiper-wrapper -->

        </div> <!-- end of swiper-container -->
        <!-- end of header slider -->
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- end of add pagination -->

    </header> <!-- end of header -->
    <!-- end of header -->
    <!-- Form Lightbox -->
    <div id="lightbox-1" class="lightbox-form zoom-anim-dialog mfp-hide">
        <div class="container">
            <div class="row">
                <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
                <div class="col-lg-12">
                    <p>Fill out the form and one of our credit consultants will get back to you in less than 24h</p>

                    <!-- Get Quote Form -->
                    <form id="GetQuoteForm" data-toggle="validator" data-focus="false">
                        <div class="form-group">
                            <input type="text" class="form-control-input" id="gname" required>
                            <label class="label-control" for="gname">Name</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control-input" id="gphone" required>
                            <label class="label-control" for="gphone">Phone</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control-input" id="gemail" required>
                            <label class="label-control" for="gemail">Email</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <select class="form-control-select" id="gselect" required>
                                <option class="select-option" value="" disabled selected>Loan Option</option>
                                <option class="select-option" value="Personal Loan">Personal Loan</option>
                                <option class="select-option" value="Vehicle Loan">Vehicle Loan</option>
                                <option class="select-option" value="House Loan">House Loan</option>
                                <option class="select-option" value="Student Loan">Student Loan</option>
                                <option class="select-option" value="Travel Loan">Travel Loan</option>
                                <option class="select-option" value="StartUp Loan">StartUp Loan</option>
                            </select>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group checkbox">
                            <input type="checkbox" id="gterms" value="Agreed-to-Terms" required>I have read and agree to Ciel's <a class="underline" href="privacy-policy.html">Privacy Policy</a> and <a class="underline" href="terms-conditions.html">Terms Conditions</a>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control-submit-button">Get Quote</button>
                        </div>
                        <div class="form-message">
                            <div id="gmsgSubmit" class="h3 text-center hidden"></div>
                        </div>
                    </form>
                    <!-- end of get quote form -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of lightbox-form -->
    <!-- end of form lightbox  -->
    <!-- Approval -->
    <div id="works" class="accordion">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center">Fast Application</h2>
                    <p class="p-large text-center">Your no obligation loan quote is just 4 simple steps away!</p>
                    <p class="p-heading p-small text-center">(press on the text below to reveal more information!)</p>

                    <!-- Accordion -->
                    <div id="detailsAccordion" data-children=".item">
                        <div class="item">
                            <a data-toggle="collapse" href="#detailsAccordion1" aria-expanded="true">
                                <span class="circle-numbering">1</span><span class="accordion-title">Fill In The Quick Form With As Much Detail As Possible</span>
                            </a>
                            <div id="detailsAccordion1" class="collapse show" data-parent="#detailsAccordion" role="tabpanel">
                                <p class="accordion-body">
                                    We have tried to keep our form as brief as possible. All the information required comes straight from our lenders, and gives you the best chance of finding a loan.
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <a data-toggle="collapse" href="#detailsAccordion2" aria-expanded="false">
                                <span class="circle-numbering">2</span><span class="accordion-title">Wait For Up To 2 Minutes</span>
                            </a>
                            <div id="detailsAccordion2" class="collapse" data-parent="#detailsAccordion" role="tabpanel">
                                <p class="accordion-body">
                                    We try to get you a loan offer within 1 minute, but please be patient, as it can sometimes take up to 2 minutes. Once found, your browser will take you to the offer.
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <a data-toggle="collapse" href="#detailsAccordion3" aria-expanded="false">
                                <span class="circle-numbering">3</span><span class="accordion-title">Review Your Loan Offer</span>
                            </a>
                            <div id="detailsAccordion3" class="collapse" data-parent="#detailsAccordion" role="tabpanel">
                                <p class="accordion-body">
                                    Once we redirect you to your loan offer page, please take time to look over the offer, including APR offered, terms, late payment fees, and so on. You are free to walk away.
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <a data-toggle="collapse" href="#detailsAccordion4" aria-expanded="false">
                                <span class="circle-numbering">4</span><span class="accordion-title">Accept And Receive Funds Into Your Bank Account</span>
                            </a>
                            <div id="detailsAccordion4" class="collapse" data-parent="#detailsAccordion" role="tabpanel">
                                <p class="accordion-body">
                                    Once you are happy with the terms of your loan offer from your matched lender, simply finalise your application on the lender's site, and wait for your funds to hit your account!
                                </p>
                            </div>
                        </div>
                    </div> <!-- end of detailsAccordion -->
                    <!-- end of accordion -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of accordion -->
    <!-- end of approval -->
    <!-- Loan Options -->
    <div id="options" class="cards-1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center">Loan Options</h2>
                    <p class="p-heading p-large text-center">Need money for your next awesome project? A holiday? Unexpected emergency? We find loans for any reason. Click on details to learn more.</p>
                </div> <!-- end of col -->
            </div> <!-- end of row -->

            <div class="row">
                <div class="col-xs-12 col-lg-4">

                    <!-- Card -->
                    <div class="card text-center">
                        <img class="card-image" src="/images/vector-card-1.svg" alt="description">
                        <div class="card-body">
                            <h4 class="card-title">Personal Loan</h4>
                            <p>Do you want to buy a bicycle, that all new smartphone or even an awesome laptop? This credit option will suit you best</p>
                            <a class="btn-solid-reg popup-with-move-anim" href="#lightbox-2">Details</a>
                        </div>
                    </div>
                    <!-- end of card -->

                </div> <!-- end of col -->
                <div class="col-xs-12 col-lg-4">

                    <!-- Card -->
                    <div class="card text-center">
                        <img class="card-image" src="/images/vector-card-2.svg" alt="description">
                        <div class="card-body">
                            <h4 class="card-title">Vehicle Loan</h4>
                            <p>It's time to change that old rust bucket you're currently driving. Apply for a vehicle loan and enjoy the car of your dreams</p>
                            <a class="btn-solid-reg popup-with-move-anim" href="#lightbox-3">Details</a>
                        </div>
                    </div>
                    <!-- end of card -->

                </div> <!-- end of col -->
                <div class="col-xs-12 col-lg-4">

                    <!-- Card -->
                    <div class="card text-center">
                        <img class="card-image" src="/images/vector-card-3.svg" alt="description">
                        <div class="card-body">
                            <h4 class="card-title">House Loan</h4>
                            <p>Do you want to decorate your home, or need to buy new appliances? Home improvement loans are the perfect option to spice up your home</p>
                            <a class="btn-solid-reg popup-with-move-anim" href="#lightbox-4">Details</a>
                        </div>
                    </div>
                    <!-- end of card -->

                </div> <!-- end of col -->
                <div class="col-xs-12 col-lg-4">

                    <!-- Card -->
                    <div class="card text-center">
                        <img class="card-image" src="/images/vector-card-4.svg" alt="description">
                        <div class="card-body">
                            <h4 class="card-title">Student Loan</h4>
                            <p>Have you decided to invest in your education and can't afford the costs? Use the student loan for a better future</p>
                            <a class="btn-solid-reg popup-with-move-anim" href="#lightbox-5">Details</a>
                        </div>
                    </div>
                    <!-- end of card -->

                </div> <!-- end of col -->
                <div class="col-xs-12 col-lg-4">

                    <!-- Card -->
                    <div class="card text-center">
                        <img class="card-image" src="/images/vector-card-5.svg" alt="description">
                        <div class="card-body">
                            <h4 class="card-title">Travelling Loan</h4>
                            <p>Ready to see the world? Pack your bags and go travelling to any destination you desire using our travelling loan</p>
                            <a class="btn-solid-reg popup-with-move-anim" href="#lightbox-6">Details</a>
                        </div>
                    </div>
                    <!-- end of card -->

                </div> <!-- end of col -->
                <div class="col-xs-12 col-lg-4">

                    <!-- Card -->
                    <div class="card text-center">
                        <img class="card-image" src="/images/vector-card-6.svg" alt="description">
                        <div class="card-body">
                            <h4 class="card-title">StartUp Loan</h4>
                            <p>Nowadays everyone has a business idea but doesn't have the resources to make it a reality. We're prepared to fix that</p>
                            <a class="btn-solid-reg popup-with-move-anim" href="#lightbox-7">Details</a>
                        </div>
                    </div>
                    <!-- end of card -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of cards-1 -->
    <!-- end of loan options -->
    <!-- Loan Options Lightboxes -->
    <!-- Lightbox -->
    <div id="lightbox-2" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="container">
            <div class="row">
                <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
                <div class="col-lg-8">
                    <img src="/images/lightbox-details-1.jpg" alt="description">
                </div> <!-- end of col -->
                <div class="col-lg-4">
                    <h3>Personal Loan</h3>
                    <hr>
                    <h4>£5,000 max</h4>
                    <p>
                        Do you want to buy a bicycle, that all new smartphone or even an awesome laptop? This credit option will suit you best.
                        <table>
                            <tr><td class="icon-cell"><i class="fas fa-check"></i></td><td>Flexible Repayment Schedule</td></tr>
                            <tr><td class="icon-cell"><i class="fas fa-check"></i></td><td>Apply Even With Bad Credit</td></tr>
                            <tr><td class="icon-cell"><i class="fas fa-check"></i></td><td>Money Transferred Direct</td></tr>
                            <tr><td class="icon-cell"><i class="fas fa-check"></i></td><td>Low Income Considered</td></tr>
                            <tr><td class="icon-cell"><i class="fas fa-check"></i></td><td>Competitive Interest Rates</td></tr>
                        </table>
                        <a class="btn-solid-reg " href="/apply">Quote</a> <a class="btn-outline-reg mfp-close as-button" href="#options">Back</a>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of lightbox-basic -->
    <!-- end of lightbox -->
    <!-- Lightbox -->
    <div id="lightbox-3" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="container">
            <div class="row">
                <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
                <div class="col-lg-8">
                    <img src="/images/lightbox-details-2.jpg" alt="description">
                </div> <!-- end of col -->
                <div class="col-lg-4">
                    <h3>Vehicle Loan</h3>
                    <hr>
                    <h4>£5,000 max</h4>
                    <p>
                        It's time to change that old rust bucket you're currently driving. Apply for a vehicle loan and enjoy the car of your dreams.
                        <table>
                            <tr><td class="icon-cell"><i class="fas fa-check"></i></td><td>Flexible Repayment Schedule</td></tr>
                            <tr><td class="icon-cell"><i class="fas fa-check"></i></td><td>Apply Even With Bad Credit</td></tr>
                            <tr><td class="icon-cell"><i class="fas fa-check"></i></td><td>Money Transferred Direct</td></tr>
                            <tr><td class="icon-cell"><i class="fas fa-check"></i></td><td>Low Income Considered</td></tr>
                            <tr><td class="icon-cell"><i class="fas fa-check"></i></td><td>Competitive Interest Rates</td></tr>

                        </table>
                        <a class="btn-solid-reg" href="/apply">Quote</a> <a class="btn-outline-reg mfp-close as-button" href="#options">Back</a>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of lightbox-basic -->
    <!-- end of lightbox -->
    <!-- Lightbox -->
    <div id="lightbox-4" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="container">
            <div class="row">
                <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
                <div class="col-lg-8">
                    <img src="/images/lightbox-details-3.jpg" alt="description">
                </div> <!-- end of col -->
                <div class="col-lg-4">
                    <h3>House Loan</h3>
                    <hr>
                    <h4>
                        £5,000 max
                    </h4>
                    <p>
                        Do you want to decorate your home, or need to buy new appliances? Home improvement loans are the perfect option to spice up your home
                        <table>
                            <tr><td class="icon-cell"><i class="fas fa-check"></i></td><td>Flexible Repayment Schedule</td></tr>
                            <tr><td class="icon-cell"><i class="fas fa-check"></i></td><td>Apply Even With Bad Credit</td></tr>
                            <tr><td class="icon-cell"><i class="fas fa-check"></i></td><td>Money Transferred Direct</td></tr>
                            <tr><td class="icon-cell"><i class="fas fa-check"></i></td><td>Low Income Considered</td></tr>
                            <tr><td class="icon-cell"><i class="fas fa-check"></i></td><td>Competitive Interest Rates</td></tr>
                        </table>
                        <a class="btn-solid-reg" href="/apply">Quote</a> <a class="btn-outline-reg mfp-close as-button" href="#options">Back</a>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of lightbox-basic -->
    <!-- end of lightbox -->
    <!-- Lightbox -->
    <div id="lightbox-5" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="container">
            <div class="row">
                <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
                <div class="col-lg-8">
                    <img src="/images/lightbox-details-4.jpg" alt="description">
                </div> <!-- end of col -->
                <div class="col-lg-4">
                    <h3>Student Loan</h3>
                    <hr>
                    <h4>£5,000 max</h4>
                    <p>
                        Have you decided to invest in your education and can't afford the costs? Use the student loan for a better future.
                        <table>
                            <tr><td class="icon-cell"><i class="fas fa-check"></i></td><td>Flexible Repayment Schedule</td></tr>
                            <tr><td class="icon-cell"><i class="fas fa-check"></i></td><td>Apply Even With Bad Credit</td></tr>
                            <tr><td class="icon-cell"><i class="fas fa-check"></i></td><td>Money Transferred Direct</td></tr>
                            <tr><td class="icon-cell"><i class="fas fa-check"></i></td><td>Low Income Considered</td></tr>
                            <tr><td class="icon-cell"><i class="fas fa-check"></i></td><td>Competitive Interest Rates</td></tr>
                        </table>
                        <a class="btn-solid-reg" href="/apply">Quote</a> <a class="btn-outline-reg mfp-close as-button" href="#options">Back</a>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of lightbox-basic -->
    <!-- end of lightbox -->
    <!-- Lightbox -->
    <div id="lightbox-6" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="container">
            <div class="row">
                <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
                <div class="col-lg-8">
                    <img src="/images/lightbox-details-5.jpg" alt="description">
                </div> <!-- end of col -->
                <div class="col-lg-4">
                    <h3>Travelling Loan</h3>
                    <hr>
                    <h4>£5,000 max</h4>
                    <p>
                        Ready to see the world? Pack your bags and go travelling to any destination you desire using our travelling loan.
                        <table>
                            <tr><td class="icon-cell"><i class="fas fa-check"></i></td><td>Flexible Repayment Schedule</td></tr>
                            <tr><td class="icon-cell"><i class="fas fa-check"></i></td><td>Apply Even With Bad Credit</td></tr>
                            <tr><td class="icon-cell"><i class="fas fa-check"></i></td><td>Money Transferred Direct</td></tr>
                            <tr><td class="icon-cell"><i class="fas fa-check"></i></td><td>Low Income Considered</td></tr>
                            <tr><td class="icon-cell"><i class="fas fa-check"></i></td><td>Competitive Interest Rates</td></tr>
                        </table>
                        <a class="btn-solid-reg " href="/apply">Quote</a> <a class="btn-outline-reg mfp-close as-button" href="#options">Back</a>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of lightbox-basic -->
    <!-- end of lightbox -->
    <!-- Lightbox -->
    <div id="lightbox-7" class="lightbox-basic zoom-anim-dialog mfp-hide">
        <div class="container">
            <div class="row">
                <button title="Close (Esc)" type="button" class="mfp-close x-button">×</button>
                <div class="col-lg-8">
                    <img src="/images/lightbox-details-6.jpg" alt="description">
                </div> <!-- end of col -->
                <div class="col-lg-4">
                    <h3>StartUp Loan</h3>
                    <hr>
                    <h4>£5,000 max</h4>
                    <p>
                        Nowadays everyone has a business idea but doesn't have the resources to make it a reality. We're prepared to fix that.
                        <table>
                            <tr><td class="icon-cell"><i class="fas fa-check"></i></td><td>Flexible Repayment Schedule</td></tr>
                            <tr><td class="icon-cell"><i class="fas fa-check"></i></td><td>Apply Even With Bad Credit</td></tr>
                            <tr><td class="icon-cell"><i class="fas fa-check"></i></td><td>Money Transferred Direct</td></tr>
                            <tr><td class="icon-cell"><i class="fas fa-check"></i></td><td>Low Income Considered</td></tr>
                            <tr><td class="icon-cell"><i class="fas fa-check"></i></td><td>Competitive Interest Rates</td></tr>
                        </table>
                        <a class="btn-solid-reg " href="/apply">Quote</a> <a class="btn-outline-reg mfp-close as-button" href="#options">Back</a>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of lightbox-basic -->
    <!-- end of lightbox -->
    <!-- end of loan options lightboxes -->
    <!-- Description 1 -->
    <div id="description" class="slider-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">

                    <!-- Image Slider -->
                    <div class="swiper-container image-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide"><a class="popup-link" href="/images/slide-1.jpg" data-effect="fadeIn"><img class="img-fluid" src="/images/slide-1.jpg" alt="description"></a></div>
                            <div class="swiper-slide"><a class="popup-link" href="/images/slide-2.jpg" data-effect="fadeIn"><img class="img-fluid" src="/images/slide-2.jpg" alt="description"></a></div>
                            <div class="swiper-slide"><a class="popup-link" href="/images/slide-3.jpg" data-effect="fadeIn"><img class="img-fluid" src="/images/slide-3.jpg" alt="description"></a></div>
                        </div> <!-- end of swiper-wrapper -->
                        <!-- Add Arrows -->
                        <div class="swiper-button-next">
                            <i class="fas fa-chevron-circle-right fa-3x"></i>
                        </div>
                        <div class="swiper-button-prev">
                            <i class="fas fa-chevron-circle-left fa-3x"></i>
                        </div>
                        <!-- end of add arrows -->

                    </div> <!-- end of swiper-container -->
                    <!-- end of image slider -->

                </div> <!-- end of col -->

                <div class="col-lg-6">
                    <div class="text-container">
                        <h3>Look No Further For A Quick And Simple Loan Search!</h3>
                        <table>
                            <tr><td class="icon-cell"><i class="fas fa-check"></i></td><td>Soft search multiple lenders with 1 quick application</td></tr>
                            <tr><td class="icon-cell"><i class="fas fa-check"></i></td><td>No obgliation to commit to any loan offer we may find</td></tr>
                            <tr><td class="icon-cell"><i class="fas fa-check"></i></td><td>Money transferred directly in to your bank account</td></tr>
                            <tr><td class="icon-cell"><i class="fas fa-check"></i></td><td>Repay over a timeframe that suits your budget</td></tr>
                            <tr><td class="icon-cell"><i class="fas fa-check"></i></td><td>Borrow for any reason - decision fairly based on circumstances</td></tr>
                        </table>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of slider-1 -->
    <!-- end of description 1 -->

    <div id="faq">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="wrapper-content bg-white pinside40">
                        <h2>Frequently Asked Questions</h2>
                        <p class="lead">
                            At Lively Loans, we understand that finding a loan can be a lengthy, and confusing process.
                            Here we answer some of the most asked questions relating to short term loans.
                        </p>

                        <div class="pt-lg-5">
                            <div class="row">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 st-accordion">
                                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                        <div class="panel panel-default">
                                            <div class="panel-heading active" role="tab" id="headingOne">
                                                <h6 class="panel-title">
                                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">How much can I borrow?</a>
                                                </h6>
                                            </div>
                                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                                <div class="panel-body">Currently we work with lenders who are able to facilitate loans from £100 to £5000. The amount you will be able to borrow is dependent on your financial and personal circumstances.</div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="headingTwo">
                                                <h6 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">How long does it take to find a solution?</a>
                                                </h6>
                                            </div>
                                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                                <div class="panel-body">This really depends on which provider in the list of possibilities accepts you. As a general rule you can expect to be presented with a lender within 2 minutes, but please bear with us if it takes slightly longer; this is normal.</div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="headingThree">
                                                <h6 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">What does APR mean?</a>
                                                </h6>
                                            </div>
                                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                                <div class="panel-body">APR stands for Annual Percentage Rate. An APR is used to calculate the amount you will repay in interest rate and fees associated with your solution. Historically, loans were taken out over several years – hence the measurement on an annual basis. Nowadays, with many shorter term options available, the APR may seem high, because these are taken out between 30 days, and 6 months, and not a year or more.<br>Under guidelines set out in the Consumer Credit Regulations 2010 (Total Charge for Credit), and the Consumer Credit Act 1974, businesses advertising loans are obliged to show an APR guideline, regardless of the term. Whilst this helps the customer compare products, the length of the loan should be considered at the same time to give a true comparison.</div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="headingFour">
                                                <h6 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">What is a representative APR?</a>
                                                </h6>
                                            </div>
                                            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                                <div class="panel-body">The representative APR that you see on sites are usually either the most common APR offered to customers, or the average APR. Each individual has different financial circumstances, and therefore risk factors, so the actual APR you end up with on your loan may vary from the representative example – for better or for worse. The representative APR figure therefore should only be used as a guideline.</div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="headingFive">
                                                <h6 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">How much do you charge for your service?</a>
                                                </h6>
                                            </div>
                                            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                                                <div class="panel-body">As we are a completely transparent organisation, we make it clear that in order to cover our running costs, we receive a small fee from our lenders upon referral. This in no way increases the cost of your solution, and is never transferred to you. In situations where you are applying for a payday loan, but are rejected by our extensive panel of lenders, we may redirect you to a fee charging loan brokering website. The purpose of this fee is to cover the additional costs of finding an alternative solution. You are under no obligation to finalise your application, so please check the terms very carefully.</div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="headingSix">
                                                <h6 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">Are you a direct lender?</a>
                                                </h6>
                                            </div>
                                            <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                                                <div class="panel-body">No, we are a licensed credit broker that uses state of the art software and systems to not only match you to a suitable lender, but also to ensure that a product is the right solution for you.</div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="headingSeven">
                                                <h6 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">Wouldn’t I be better off speaking directly to a lender?</a>
                                                </h6>
                                            </div>
                                            <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                                                <div class="panel-body">We have access to over 30 providers, and our systems allow us to ensure you get the right deal in no more than 2 minutes. If a lender rejects your application, it takes seconds to find another lender, rather than several minutes applying directly, multiple times. Once you fill in your details at livelyloans.co.uk, we do the hard work for you, and you are under no obligation to accept your proposal. Remember, we charge you nothing for our service, so you really have nothing to lose, and everything to gain by enquiring now!</div>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading" role="tab" id="headingEight">
                                                <h6 class="panel-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">Who do I contact if I have a problem with my loan?</a>
                                                </h6>
                                            </div>
                                            <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                                                <div class="panel-body">Once you have accepted a proposal from one of our partners, and are redirected, you no longer deal with us. For any problems directly relating to your solution, please contact your lender directly. If you have a query or complaint about our website, and the service we provide you, please write to us at contact@livelyloans.co.uk, and we will endeavour to respond within 48 hours.</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row" style="padding-top:30px;">
                <a class="btn-solid-lg " href="/apply">Get Quote</a>

            </div>
        </div>
    </div>

    <!-- Description 2 -->
    <div id="about" class="pills">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">

                    <!-- Nav Tabs Links -->
                    <ul class="nav nav-tabs" id="cedoTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="nav-tab-1" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">Quote</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="nav-tab-2" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false">Approval</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="nav-tab-3" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">Fees</a>
                        </li>
                    </ul>
                    <!-- end of nav tabs links -->
                    <!-- Nav Tabs Content -->
                    <div class="tab-content" id="cedoTabContent">
                        <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab-1">
                            <p>It's very easy to obtain a loan quotation. You just need to fill out the <a class="underline page-scroll" href="#header">Get Quote Form</a> and we will automatically direct your browser to an offer we may find.</p>
                            <p>You will need to provide some personal details so please make sure you read our terms & conditions and privacy pages.</p>
                            <a class="btn-solid-reg page-scroll" href="/terms">Terms</a> <a class="btn-outline-reg page-scroll" href="/privacy">Privacy</a>
                        </div> <!-- end of tab -->
                        <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="tab-2">
                            <table>
                                <tr><td class="icon-cell"><i class="fas fa-home"></i></td><td>Approval usually takes no longer than 2 minutes and funds often transfer the same day *</td></tr>
                                <tr><td class="icon-cell"><i class="fas fa-book"></i></td><td>A lot of the cases with negative answers are due to incorrect personal information sent by customers </td></tr>
                                <tr><td class="icon-cell"><i class="fas fa-pencil-alt"></i></td><td>After a loan approval you will receive the money in your bank account in no more than 2 days </td></tr>
                                <tr><td class="icon-cell"><i class="fas fa-question"></i></td><td>Any questions relating to your final loan must be directed to your matched lender</td></tr>
                            </table>
                        </div> <!-- end of tab -->
                        <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="tab-3">
                            <p>As we are a licensed broker, and not a direct lender, we receive a small commission from our panel of lenders.</p>
                            <p>Our commission in no way affects your loan terms, and you have no obligation to commit to any offer.</p>
                            <p>When reviewing any lender offer we may find you, please consider the following:</p>
                            <ul class="v-space-lg">
                                <li>Actual APR offered</li>
                                <li>Late payment fees</li>
                                <li>Termination fees</li>
                            </ul>
                        </div> <!-- end of tab -->
                    </div>
                    <!-- end of nav tabs content -->

                </div> <!-- end of col -->

                <div class="col-lg-6">
                    <img class="description-image" src="~/images/woman-at-desk.svg" alt="description">
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of pills -->
    <!-- end of description 2 -->
    <!-- Questions -->
    <div id="questions" class="basic-1 text-center" style="padding-top:50px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>Got Questions? Message Us</h3>
                    <p class="p-heading p-large">Need information about our loan matching service? Email us today! </p>
                    <a class="btn-solid-reg page-scroll" href="mailto:contact@livelyloans.co.uk"><i class="fas fa-email"></i>Email Us</a>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-1 -->
    <!-- end of questions -->
    <!-- About -->
    <div id="responsible" class="basic-2 text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Responsible Lending</h2>
                    <p class="p-large text-center"><strong>Financial Difficulties.</strong></p>
                    <p class="p-heading">Once you have received your loan funds, if for any reason you think you will struggle to meet any of the arranged repayments, you must contact your lender directly as soon as you become aware. Read your Loan Agreement and Terms and Conditions from your lender for further information.</p>
                    <p class="p-large text-center"><strong>Implications of Non-Payment.</strong></p>
                    <p class="p-heading">The implications of non-payment of your loan may include adverse details being added to your credit report. This could adversely affect future attempts at securing credit or finance.</p>
                    <p class="p-large text-center"><strong>Important Things To Remember.</strong></p>
                    <p>
                        - Don’t borrow money if you know you will struggle to pay it back
                    </p>
                    <p>
                        - Don’t ignore the situation, contact your lender early
                    </p>
                    <p>
                        - For help go to moneyadviservice.org.uk
                    </p>
                    </p>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-2 -->
    <!-- end of about -->
    <!-- Contact -->
    <div id="contact" class="form">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="text-center">Contact Info</h2>
                    <p class="p-heading text-center">
                        Address: Bank Chambers, 93 Lapwing Lane, Didsbury, M20 6UR
                        <br>Phone: 0330 000 0000, Email: <a class="underline" href="mailto:contact@livelyloans.co.uk">contact@livelyloans.co.uk</a>, Web: <a class="underline" href="https://www.livelyloans.co.uk">www.livelyloans.co.uk</a>
                    </p>
                </div> <!-- end of col -->
            </div> <!-- end of row -->

            <!--<div class="row">
                <div class="offset-md-3 col-lg-6">
                    <form action="mailto:youraddr@domain.tld" method="GET">
                        <input class="form-control-input hidden" name="subject" type="text" value="Website contact" />
                        <div class="form-group">
                            <input class="form-control-input" name="name" type="text" />
                            <label class="label-control" for="cname">Name</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control-textarea" id="cmessage" required name="body"></textarea>
                            <label class="label-control" for="cmessage">Your message</label>
                            <div class="help-block with-errors"></div>
                        </div>
                        <div class="form-group">
                            <input class="form-control-submit-button" type="submit" value="Send" />
                        </div>
                    </form>
                </div>--> <!-- end of col -->
            <!--</div>--> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of form -->
    <!-- end of contact -->
    <!-- Footer -->
    <div class="footer">
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-center">Copyright © Lively Loans - <i>Please always check the terms of your lending option carefully once we redirect your appliction</i></p>
                    </div> <!-- end of col -->
                </div> <!-- enf of row -->
                <div class="row">
                    <div class="col-md-12 disclaimer" style="font-size:12px;">
                        <p>
                            <strong style="font-size:14px;color:white;">Representative example: £400 borrowed for 90 days. Total amount repayable is £561.92 in 3 monthly instalments of £187.31. Interest charged is £161.92, interest rate 161.9% pa (variable). Representative 305.9% APR.</strong>
                        </p>
                        <p>To apply for loans through our website you must be a UK resident over 18 years old. We are a licensed credit brokerage business authorised by the Financial Conduct Authority, which effects introductions between borrowers and lenders as well as other brokers, for the purposes of entering into loan agreements. The operator of this website is not an agent or representative of consumers or any lender and does not endorse the services offered by specific lenders. As a broker we process the information you provide us and pass this onto our trusted third party lenders and brokers to help you apply for a loan. For more information on how we handle your data see our <a href="/privacy"> Privacy Policy</a> </p>
                        <p>The actual loan offer you may receive may be lower than what you applied for. This is because each loan application is analysed and dependent on personal affordability. Lenders will also consider loan period, income and outgoings, which may result in the requested amount being declined, but a lower amount being offered.</p>
                        <p>Auto Decisioning allows lenders to make a decision on your loan application without the need for human interaction, for more information please contact your lender or see their privacy policy.</p>
                        <p>A Short Term High Cost loan should not be used as a long term solution. You should be aware that it may involve repaying a higher rate of interest, extending the terms of the debt and increasing the total amount you repay. If you are thinking of consolidating existing borrowing you should be aware that it may involve repaying a higher rate of interest, extending the terms of the debt and increasing the total amount you repay.</p>
                        <p>A guarantor is someone who agrees to back up your guarantor loan and steps in to make repayments if you don’t. Guarantors are usually friends or family members as these are the people who know you best.</p>
                        <p>
                            livelyloans.co.uk is a registered Trading name of Dunham Technology Limited, registered in England and Wales under company number 10764606, with a registered office address of Bank Chambers, 93 Lapwing Lane, Didsbury, M20 6UR. Dunham Technology Limited is authorised and regulated by the Financial Conduct Authority and is entered on the Financial Services Register under reference number 917634, and is an appointed representative of ESL Consultancy Services Ltd - registered in England and Wales under company number 11483654, with a registered office address of 20-22 Wenlock Road, London, England, N1 7GU - authorised and regulated by the Financial Conduct Authority and is entered on the Financial Services Register under reference number 835333. Dunham Technology Limited is Licensed by the Information Commissioners Office (registration number ZA577714).
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="widget-text mt40">
                            <!-- widget text -->
                            <p><strong>Our goal at Lively Loans is to provide access to short term personal loans and make the process of finding a loan as easy and simple to understand as possible. We do not favour a single lender - the choice is yours. We are a licensed credit broker, and not a lender. We do receive remuneration from the lender you apply with, but this in no way affects the rate or repayment terms you are offered.</strong></p>

                        </div>
                        <!-- /.widget text -->
                    </div>
                    <div class="offset-md-1 col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6">
                        <div class="widget-footer mt40">
                            <!-- widget footer -->
                            <ul class="listnone">
                                <li>
                                    <a href="#about">About Us</a>
                                </li>
                                <li>
                                    <a href="#faq">Faq</a>
                                </li>
                                <li>
                                    <a href="#contact">Contact Us</a>
                                </li>
                                <li>
                                    <a href="/complaints">Complaints</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.widget footer -->
                    </div>

                    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6">
                        <div class="widget-footer mt40">
                            <!-- widget footer -->
                            <ul class="listnone">
                                <li>
                                    <a href="/terms">Terms and Conditions</a>
                                </li>
                                <li>
                                    <a href="/privacy">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="/treatingcustomersfairly">Treating Customers Fairly</a>
                                </li>
                            </ul>
                        </div>
                    </div>


                </div>
            </div> <!-- end of container -->
        </div> <!-- end of copyright -->
    </div> <!-- end of footer -->
    <!-- end of footer -->
    <!-- Scripts -->
    <script src="js/jquery.min.js"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="js/popper.min.js"></script> <!-- Popper tooltip library for Bootstrap -->
    <script src="js/bootstrap.min.js"></script> <!-- Bootstrap framework -->
    <script src="js/jquery.easing.min.js"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="js/swiper.min.js"></script> <!-- Swiper for image and text sliders -->


    <script src="js/jquery.magnific-popup.js"></script> <!-- Magnific Popup for lightboxes -->
    <script src="js/validator.min.js"></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src="js/scripts.js"></script> <!-- Custom scripts -->

</body>
</html>