@page
@model ComplaintsModel
@{
    Layout = "_LayoutSub";
}
@{
    ViewData["Title"] = "Complaints";
}

<div class="container mt100">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="contact-us mb60">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="mb60  section-title">
                            <!-- section title start-->
                            <p class="lead">We aim to provide you with the best online service that we can, but sometimes things can go wrong.</p>
                            <p>On the rare occasion that something goes wrong, we want to hear from you so that we can improve our service, and put things right.</p>
                            <p>Upon investigation of your complaint, if we find that we have made an error, we will correct the matter immediately, and keep you informed every step of the way. This will detail what we have found, and what we have done to correct it.</p>
                            <p>If, however, objectively we disagree with your complaint, our commitment to communicating our decision remains. We will detail how we have concluded our disagreement, along with suggestions of next steps to resolve the issue. There may also be occasions where we only disagree with a part of your complaint, but we will make this clear to you in our response.</p>
                            <h5>HOW WE DEAL WITH COMPLAINTS:</h5>
                            <p>Where possible, we will acknowledge receipt of your complaint within 24 hours of receipt. Please note however, that there may be occasions where this takes longer than anticipated, so please be patient, as we will always reply.</p>
                            <p>If we cannot resolve the matter satisfactorily within 72 hours, or if more time is required in order to sufficiently investigate the complaint, we will inform you immediately, and keep you updated every step of the way.</p>
                            <p>You will receive a final response to your complaint within eight weeks of the original complaint. In exceptional circumstances, if the complaint is still not resolved, we will communicate to you the reasons why, and fully explain the remaining options to both parties.</p>
                            <h5>HOW TO CONTACT US TO COMPLAIN:</h5>
                            <p>We are an online business, and as such, the following methods are available to you should you need to contact us.</p>
                            <ul class="list-unstyled" style="padding-bottom:10px;">
                                <li>By e-mail to: complaints@livelyloans.co.uk</li>
                                <li>By post to Lively Loans, Bank Chambers, 93 Lapwing Lane, Didsbury, M20 6UR.</li>
                            </ul>

                            <h5>FINANCIAL OMBUDSMAN SERVICE:</h5>
                            <p>If you feel we have been unable to resolve your complaint satisfactorily, and feel that by further communicating with us, a resolution will not be found, you are entitled to request an independent review of the matter from the Financial Ombudsman. This must be made within 6 months of the date of our final response.</p>
                            <p>You can contact the Financial Ombudsman using the below details:</p>

                            <address>
                                The Financial Ombudsman Service<br>Exchange Tower<br> London<br> E14 9SR
                            </address>
                            <address>
                                Telephone Number: 080 0023 4567 or 030 0123 9123<br>
                                E-mail: complaint.info@financial-ombudsman.org.uk<br>
                                Website: www.financial-ombudsman.org.uk
                            </address>

                            <h5>European Online Dispute Resolution Platform</h5>

                            <p>In relation to your complaint you can also request a review from the European Online Dispute Resolution platform: <a style="color:#864b82" href="http://ec.europa.eu/consumers/odr/">http://ec.europa.eu/consumers/odr/</a></p>

                        </div>
                        <!-- /.section title start-->
                    </div>
                </div>
                <div class="row" style="padding-top:50px;padding-bottom:50px;">

                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                        <div class="bg-boxshadow pinside60 outline text-center mb30">
                            <div class="mb40">
                                <i class="icon-briefcase icon-2x icon-default"></i>
                            </div>
                            <h5 class="capital-title">In Writing</h5>
                            <p>
                                Bank Chambers, 93 Lapwing Lane,
                                <br>Didsbury, M20 6UR
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                        <div class="bg-boxshadow pinside60 outline text-center mb30">
                            <div class="mb40">
                                <i class="icon-phone-call icon-2x icon-default"></i>
                            </div>
                            <h5 class="capital-title">Call Us On </h5>
                            <h5 class="text-big">0330 350 3244 </h5>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                        <div class="bg-boxshadow pinside60 outline text-center mb30">
                            <div class="mb40">
                                <i class="icon-letter icon-2x icon-default"></i>
                            </div>
                            <h5 class="capital-title">By Email</h5>
                            <p></p>
                            <p>complaints@livelyloans.co.uk</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- /.section title start-->
        </div>
    </div>
</div>