@page
@model TermsModel
@{
    Layout = "_LayoutSub";
}
@{
    ViewData["Title"] = "Terms and Conditions";
}

<div class="container mt100">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="mb60  section-title">
                <!-- section title start-->
                <h1>Terms and Conditions </h1>
                <p class="lead">Please take your time to understand the terms and conditions of using Lively Loans.</p>
            </div>
            <p>These Terms &amp; Conditions of Use (the Terms) set out the Terms by which you may make use of our Website livelyloans.co.uk (the Website). Use of the Website includes accessing, browsing, or making an application via the Website.</p>
            <p>It is important that you carefully read these Terms before you use the Website, as they apply to your use of the Website. Please feel free to download or print a copy of these Terms for your own future reference. It is your responsibility to ensure you are aware of the nature of these Terms and how they may affect your use of the Website.</p>

            <p>By using the Website, you confirm that you accept these Terms and that you agree to comply with them. If you do not agree to these Terms, you should exit the Website immediately and we request that you do not use our service.</p>

            <p>For information on how we use personal data that we may collect through the Website and/or in relation to the services that we provide via the Website please see our Privacy Policy. For details on our use of Cookies please see our Cookies Statement contained within our Cookies Policy. Both our Privacy Policy and our Cookies Statement are incorporated by reference into this document.</p>

            <h3>About us</h3>
            <p>livelyloans.co.uk is a registered trading name of Dunham Technology Limited, registered in England and Wales under company number 10764606, with a registered office address of Bank Chambers, 93 Lapwing Lane, Didsbury, M20 6UR. Dunham Technology Limited is an appointed representative on the Financial Conduct Authority Register (917634) and licenced by the Information Commissioner’s Office (ZA577714). Dunham Technology Limited is an appointed representative of ESL Consultancy Services Ltd registered in England and Wales under company number 11483654, with a registered office address of 20-22 Wenlock Road, London, England, N1 7GU. ESL Consultancy Services Ltd is authorised by the Financial Conduct Authority (835333) and licenced by the Information Commissioner’s Office (ZA464347).</p>

            <h3>Our service</h3>
            <p>livelyloans.co.uk is owned and operated by Dunham Technology Limited</p>

            <p>We are not a Lender or Provider and therefore we will not provide finance directly to you; we provide an online loan matching service, we will introduce you to Lenders or Providers of financial services. By submitting an application through our Iframe form you will be giving your consent for Dunham Technology Limited to match your application with one of the Lenders or Providers on our panel. We will present your application in real time to one or more of our Lenders or Providers based on their lending criteria until such time as one of our Lenders or Providers accepts your application or all Lenders and Providers decline your application. If a Lender or Provider accepts your application you will be forwarded to a page on the Lender or Provider's Website that they have requested we direct you to or if the Lender or Provider does not work online we may present you with a screen that gives you information and contact details relating to the Lender or Provider that accepts You</p>

            <p>It is important to understand that we will only forward you to a Lender or Provider that has looked at your application and accepted it as one they believe there is a good chance they can provide a loan or relevant services to you. It is also important to understand that we may be paid a fee by the Lender or Provider for introducing you to them and we may pay a portion of that fee to the Website owner that is using the iframe form as a service.</p>

            <p>If we are unable to find the exact amount and/or term that you have requested, our lenders may offer you an alternative amount and/or term. There is no obligation to accept the alternative offer if it doesn't meet your needs. You should read their conditions carefully and make a responsible decision on whether you believe their service is right for you. If you have any questions or are unsure you should contact the Lender or Provider before taking out any service or loan with them. There is no obligation for you to take up the loan or service with them.</p>

            <p>Any examples of amounts available to borrow, terms (repayment periods) or rates stated on the Lender or Provider Websites are purely given as a representative example relating to the product. These representative examples are stated to give you an understanding of the products available. Representative examples are not given as a figure of what you will actually be offered by the Lender/Finance Provider therefore cannot be given as a guarantee nor can they be used as any kind of warranty. As we do not provide the loan or financial service directly to you we are unable to control the representative rate examples contained on the Website. Please also be aware that the decision to offer any loan or financial service is made by the Lender or Finance Provider and we have no control over the decision making.</p>

            <p>The Lender/Finance Provider will conduct an assessment on you before any decision or offer is made; this may include a full assessment of your credit history both past and present.</p>

            <h3>Accessing the Website</h3>
            <p>
                Access to the Website is permitted on a temporary basis, and we reserve the right to withdraw or amend the service which we provide on the Website without notice (see below). We will not be liable if for any reason the Website is unavailable at any time or for any period.
            </p>
            <p>
                From time to time, we may restrict access to some parts of the Website, or the entire Website, to users who have applied with us.
            </p>

            <h3>Intellectual property rights</h3>
            <p>
                All Intellectual Property Rights (including, without limitation, all database rights, rights in designs, rights in know-how, patents and rights in inventions (in all cases whether registered or unregistered and including all rights to apply for registration) and all other intellectual or industrial property rights in any jurisdiction) in any information, content, materials, data or processes contained in or to this Website belong to Dunham Technology Limited or its licensed source. All rights of Dunham Technology Limited in such Intellectual Property Rights are hereby reserved.
            </p>
            <p>You may print off a copy, and may download extracts, of any page(s) from the Website for your personal use.</p>
            <p>
                You must not modify the paper or digital copies of any materials you have printed off or downloaded in any way, and you must not use any illustrations, photographs, video or audio sequences or any graphics separately from any accompanying text.
            </p>

            <h3>Accuracy Of Information</h3>
            <p>
                Dunham Technology Limited does not represent that the information contained in this Website is accurate, comprehensive, verified or complete, and shall accept no liability for the accuracy or completeness of the information contained in this Website or for any reliance placed by any person on the information.
            </p>
            <p>We aim to update our site regularly and may change the content at any time. If the need arises, we may suspend access to our site, or close it indefinitely.</p>
            <p>
                We reserve the right to change these terms and conditions at any time by posting changes on the Website. It is your responsibility to review the Website terms and conditions regularly to ensure you are aware of the latest terms and conditions. Your use of this Website after a change has been posted will be deemed to signify your acceptance of the modified terms and conditions.
            </p>

            <h3>Liability</h3>
            <p>
                To the extent permitted by law, we exclude all conditions, warranties, representations, or other Terms which may apply to the Website or any content on it, whether express or implied.
            </p>
            <p>We cannot guarantee that the Lender or Finance Provider will authorise any particular loan application. This may be as a result, directly or indirectly, of a systems problem, issues which are unforeseeable or outside of our control or that of the Lender, or Finance Providers, or because information has been provided incorrectly.</p>
            <p>
                We shall not be liable for any loss you may suffer unless we have been negligent or not acted in accordance with these Terms and Conditions or unless otherwise required by UK law. In the event that you do not use this form with reasonable care and in accordance with these terms and conditions or we discover or are notified that you are using this form fraudulently, we, the Lender or Finance Provider reserve the right to charge you for any reasonable costs that we may incur in taking action to stop you using the form and recover any monies owed as a result of your activities.
            </p>

            <h3>Additional Services</h3>
            <p>
                You may be offered additional services when finalising your application through livelyloans.co.uk. These services may include Identity Protection, Credit Reporting, Social Data Reporting, Discounts and Vouchers, Budgeting Tools or other services offered by third party companies.
            </p>
            <p>Dunham Technology Limited accepts no liability for any additional service you may take out with any of the third-party companies.</p>
            <p>Dunham Technology Limited will not be liable for any refunds or money owed from any third-party company that you may have paid a fee to for any service offered.</p>
            <p>Terms and Conditions and Privacy Policies for any third part companies can be found when viewing the offer. Please ensure you read the terms and conditions before accepting any additional services offered.</p>


            <h3>Customer checks &amp; referencing</h3>
            <p>Upon application the Lender or Finance Provider may use both fraud prevention and credit referencing agencies to help make relevant decisions. Credit checks and credit reference agencies can also help prevent fraudulent applications so we ask you to agree to using data provided for the purpose of preventing fraud and ensuring that your identity is protected.</p>

            <p>Information provided by you must always be true and accurate, as misleading information will be regarded as a breach of our terms and is likely to breach any agreement you have entered into with a Lender or Finance Provider. Misleading information may also result in the instigation of criminal procedures against you.</p>

            <p>If you have authorised any third parties to act on your behalf any information given by the third party will be contractually binding on you. Should you choose to make a joint application for a loan or finance via the Website each party will be dealt with as a client acting with the consent of the other and if correspondence is entered into with one party of the joint application it shall be assumed that the communication is with both parties.</p>

            <p>Information about you (including your visits to the Website) we will only process information about you in accordance with the privacy policy. When you use our Website and form you consent to us processing your personal information and therefore warrant that all information/data provided by you is accurate and correct.</p>

            <h3>Communication</h3>
            <p>Unless stated otherwise we, our panel of Lenders, Credit Brokers and Alternative Solution Providers may contact you via means of telephone, SMS, post or email to provide information and alerts relating to your application and or services We think may be of interest to You.</p>

            <h3>Acceptable Use</h3>
            <p>You may only use our site &amp; iframe form for lawful purposes. You may not use our site/form:</p>
            <p>
            </p><ul>
                <li>In any way that breaches any applicable local, national, or international law or regulation.</li>
                <li>In any way that is unlawful or fraudulent or has any unlawful or fraudulent purpose or effect.</li>
                <li>To upload or transmit through the form: any computer viruses or anything else designed to interfere with, interrupt or disrupt the normal operating procedures of a computer.</li>
                <li>To upload or transmit through the form: any material which is defamatory, offensive or of an obscene character.</li>
            </ul>
            <p></p>

            <h3>Links From The Website</h3>
            <p>Where our site contains links to other sites and resources provided by third parties, these links are provided for your information only. We have no control over the contents of those sites or resources and accept no responsibility for them or for any loss or damage that may arise from your use of them.</p>

            <h3>Jurisdiction</h3>
            <p>The Website &amp; form is controlled and operated in the United Kingdom. These Terms and any non-contractual obligations arising out of or in connection with these Terms will be governed by the laws of England and Wales and you irrevocably agree to submit to the exclusive jurisdiction of the English courts.</p>

            <h3>Your Right to be Forgotten / Erasure Of Your Personal Information</h3>
            <p>Under the General Data Protection Regulation (GDPR), all individuals have the right to request the deletion or removal of personal data (the right to be forgotten) under the following circumstances:</p>
            <p>
            </p><ul>
                <li>Where the personal data is no longer necessary in relation to the purpose for which it was originally collected/processed.</li>
                <li>When the individual withdraws consent.</li>
                <li>When the individual objects to the processing and there is no overriding legitimate interest for continuing the processing.</li>
                <li>The personal data was unlawfully processed (i.e. otherwise in breach of the GDPR).</li>
                <li>The personal data has to be erased in order to comply with a legal obligation.</li>
                <li>The personal data is processed in relation to the offer of information society services to a child.</li>
            </ul>
            <p></p>

            <p>There are some circumstances where the right "to be forgotten" does not apply i.e. where we need to comply with a legal obligation.</p>
            <p>
                If you wish to request your "right to be forgotten" please email: compliance@livelyloans.co.uk
                Our marketing partners will also be informed of your request
            </p>

            <h3>Complaints</h3>
            <p>We endeavour to make every effort to ensure our service to you is excellent; however, if you wish to make a formal complaint, please send your complaint via email to complaints@livelyloans.co.uk or by writing to the following address: The Compliance Manager, Dunham Technology Limited, Bank Chambers, 93 Lapwing Lane, Didsbury, M20 6UR.</p>
            <p>Last Updated December 2019</p>

        </div>
    </div>
</div>