@page
@model PrivacyModel
@{
    Layout = "_LayoutSub";
}
@{
    ViewData["Title"] = "Treating Customers Fairly";
}

<div class="container mt100">
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="mb60  section-title">
                <p class="lead">Short term loans are regulated by the Financial Conduct Authority (FCA). The FCA has guidelines on how customers should be treated by financial institutions. Short term loan companies are bound by these rules.</p>
            </div>
            <p>What does the FCA expect on how customers should be treated? The six TCF outcomes:</p>

            <ul>
                <li><strong>Outcome 1:</strong> Consumers can be confident that they are dealing with firms where the fair treatment of customers is central to the corporate culture.</li>
                <li><strong>Outcome 2:</strong> Products and services marketed and sold in the retail market are designed to meet the needs of identified consumer groups and are targeted accordingly.</li>
                <li><strong>Outcome 3:</strong> Consumers are provided with clear information and are kept appropriately informed before, during and after the point of sale.</li>
                <li><strong>Outcome 4:</strong> Where consumers receive advice, the advice is suitable and takes account of their circumstances.</li>
                <li><strong>Outcome 5:</strong> Consumers are provided with products that perform as firms have led them to expect, and the associated service is of an acceptable standard and as they have been led to expect.</li>
                <li><strong>Outcome 6:</strong> Consumers do not face unreasonable post-sale barriers imposed by firms to change product, switch provider, submit a claim or make a complaint.</li>
            </ul>
            <p>How Dunham Technology Limited Treats Customers Fairly</p>
            <p>Here at Dunham Technology Ltd we are committed to treating every customer fairly and always act in the best interests of our clients at all times.</p>
            <p>Dunham Technology follows all the guidelines set out by the FCA and follow all the requirements of the Consumer Credit Source Book.</p>
            <p>
            </p><ul>
                <li>
                    We offer a completely free service to the customer, we do not charge fees under any circumstances. We receive a commission from lenders if a customer’s application has been successfully funded.
                </li>
                <li>
                    We will ‘not take advantage or our customers by sharing their personal information to third parties. Our website is also on a secure server ‘https’ to offer some additional protection.
                </li>
                <li>
                    We include warning labels on every page of the site to emphasise the risk of high-cost borrowing.
                </li>
                <li>
                    We have a strict criteria for the lenders that we feature, ensuring that they are direct lenders, have a Consumer Credit License and an active FCA license.
                </li>
                <li>
                    Provide continuous training to ensure our staff have the right skills and knowledge to do their jobs effectively.
                </li>

            </ul>
            <p></p>

            <p>Warning: Late repayment can cause you serious money problems. For help, go to <a href="https://moneyadviceservice.org.uk" style="color: #864b82;" target="_blank">moneyadviceservice.org.uk</a></p>

        </div>
    </div>
</div>